header{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-family: 'poppins', sans-serif;
    list-style: none;
}
.menuu{
    text-decoration: none;
    height: 50;
    width: 50;   
}
.busqueda{
    display: inline-flex;
}
.categorias{
    font-family: 'poppins', sans-serif;
    width: 200px;
    height: 50px;
    background: #e5e6e4;
    border: none;
    font-size: 10pt;
    float: left;
    color: black;
    padding-left: 15px;
}
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}

.container-1{
    display: inline;
    overflow: hidden;
    width: 300px;
    vertical-align: middle;
    white-space: nowrap;
}


.container-1 input{
    width: 300px;
    height: 50px;
    background: #e5e6e4;
    border: none;
    font-size: 10pt;
    color: black;
    padding-left: 15px;

}

.buscar{
    background-color: #426334;
    border: none;
    width: 50;
    height: 50;

    float: right;
}
.container-1 input#search .material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48
}
.banner{
    font-family: 'poppins', sans-serif;
margin-top: 15px;
}
.banner:hover{
    color: #509E2F;

}
body{
    font-family: 'poppins', sans-serif;
}
.slide {
    justify-content:center;
    box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.64);
    margin: 50 70 50 70;
    border-radius: 10px;
}
.slide-inner {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: calc( 300px + 3em);
}
.slide-open:checked + .slide-item {
    position: static;
    opacity: 100;
}
.slide-item {
    position: absolute;
    opacity: 0;
    -webkit-transition: opacity 0.6s ease-out;
    transition: opacity 0.6s ease-out;
}
.slide-item img {
    display: block;
    height: auto;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
.slide-text{
    font-family: 'poppins', sans-serif;
    color: #fff;
    font-size: 40px;
    position:absolute;
    top: 1%;
    left: 5%;
}
.slide-text h5{
    color: #dd6621;
    font-size: 20px;
    font-family: 'poppins', sans-serif;
    margin-top: 60;
    margin-bottom: -40;
}
.slide-text h4{
    margin-bottom: -20; 
}
.slide-text h6{
    font-size: 20px;
}
.slide-control {
    background: rgba(0, 0, 0, 0.28);
    border-radius: 50%;
    color: #fff;
    cursor: pointer;
    display: none;
    font-size: 40px;
    height: 40px;
    line-height: 35px;
    position: absolute;
    top: 50%;
    -webkit-transform: translate(0, -50%);
    cursor: pointer;
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    text-align: center;
    width: 40px;
    z-index: 10;
}
.slide-control.prev {
    left: 2%;
}
.slide-control.next {
    right: 2%;
}
.slide-control:hover {
    background: rgba(0, 0, 0, 0.8);
    color: #aaaaaa;
}
#slide-1:checked ~ .control-1,
#slide-2:checked ~ .control-2,
#slide-3:checked ~ .control-3 {
    display: block;
}
.slide-indicador {
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    bottom: 2%;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 10;
}
.slide-indicador li {
    display: inline-block;
    margin: 0 5px;
}
.slide-circulo {
    color: #828282;
    cursor: pointer;
    display: block;
    font-size: 35px;
}
.slide-circulo:hover {
    color: #aaaaaa;
}
#slide-1:checked ~ .control-1 ~ .slide-indicador 
     li:nth-child(1) .slide-circulo,
#slide-2:checked ~ .control-2 ~ .slide-indicador 
      li:nth-child(2) .slide-circulo,
#slide-3:checked ~ .control-3 ~ .slide-indicador 
      li:nth-child(3) .slide-circulo {
    color: #dd6621;
}
#titulo {
    width: 100%;
    position: absolute;
    padding: 0px;
    margin: 0px auto;
    text-align: center;
    font-size: 27px;
    color: rgba(255, 255, 255, 1);
    font-family: 'Open Sans', sans-serif;
    z-index: 9999;
    text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.33), 
         -1px 0px 2px rgba(255, 255, 255, 0);
}
.gnidexp{
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
    justify-content: space-around;
    margin: 20;
}
.cardexp{
    background-color: #835c3c;
    border-radius: 15px;
    color: white;
    padding: 30 60;
}
.cardexp-1{
    background-color: #b7b941;
    border-radius: 15px;
    color: white;
    padding: 30 60;
}
.cardexp-2{
    background-color: #9e722f;
    border-radius: 15px;
    color: white;
    padding: 30 60;
}
.cardexp-3{
    background-color: #e06c29;
    border-radius: 15px;
    color: white;
    padding: 30 60;
}
.cardexp-4{
    background-color: #509E2F;
    border-radius: 15px;
    color: white;
    padding: 30 60;
}
h2{
    margin-left: 50;
}
.sectionn{
    display: grid;
    grid-template-columns: repeat(3,350px);
    grid-gap: 10px;
    justify-content: space-between;
    align-content: space-around;
    margin: 50;
}
.catalogo{
    font-family: 'poppins', sans-serif;
    display: inline-block;
    background-color: #ffffff;
    border-radius: 5px;
    margin-left: 30;
    box-shadow:  0.5px 0.5px;
    box-shadow: #aaaaaa;
}
.catalogo img{
    border-radius: 10px;
    justify-content: center;

}

section{
    font-family: 'poppins', sans-serif;
    display: flex;
    justify-content: space-between;
    margin: 50 100 50 100;
}

ul li{
    list-style: none;
    margin: 5;
}
a:link{
    text-decoration: none;
}
.subs{
    color: #e5e6e4;
    background-color: #426334;
    border-radius: 3px;
    border: 1px;
    padding: 5px 10px;
}
#redessociales{
    margin-top: 10px;
    list-style: none;
    display: flex;
    justify-content: center;
}
#redessociales li{
    padding: 0 1rem 1rem;
}
a:any-link {
    color: rgb(94, 92, 92);
}

footer{
    height: 55px;
    padding-top: 10px;
    text-align: center;
}
footer ul{
    display: inline-block;
}
footer ul li{
    float: left;
}